mat-card{
    width: 80%;
    height: 80vh;
    align-self: center;
}

mat-card-header{
    display: initial;
}

.main-component{
    height: 100vh;
}

.div-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}


