<div fxLayoutGap="20px" fxFlex fxLayout="row" fxLayoutAlign="center center" class="min-h-screen">
    <div>
        <mat-card color="primary" class="card">
            <mat-card-title class="title">
                <h1>Users</h1>
            </mat-card-title>
            <mat-card-content class="self-center">
                <mat-card-actions>
                    <a mat-raised-button [routerLink]="'/admin/users'" color="accent">Users</a>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>